html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

/* NavBar */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #f9dbc1;
  display: flex;
  align-items: center;
}

.logo {
  width: 90px;
  height: 70px;
  margin: 0 auto;
  display: block;
}

.menuContainer {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  flex-grow: 1;
}

.menu {
  display: flex;
  margin-left: auto;
  user-select: none;
}

.menuElement {
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  color: #fefaf6;
  font-size: 20px;
  user-select: none;
}

.menuElementContainer {
  padding: 5px 10px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuElementContainer:hover,
.menuElementContainer.active {
  background-color: #fefaf6;
  cursor: pointer;
  border-radius: 30px;
}

.menuElementContainer:hover .menuElement,
.menuElementContainer.active .menuElement {
  color: #102c57;
}

.profilContainer {
  display: flex;
  margin-right: 20px;
}

.profil {
  width: 45px;
  height: 45px;
  margin-left: auto;
  display: block;
  border-radius: 50px;
}

/* Map */
.map {
  width: 100%;
  height: calc(100vh - 65px);
}

/* Menu Gestion Stat Algo */
.menuGestion,
.menuStatistiques,
.menuAlgorithmes {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 400px;
  height: calc(100vh - 85px);
  background-color: #fefaf6;
  border-radius: 20px;
  display: none;
}

.menuGestionHeader,
.menuStatistiquesHeader,
.menuAlgorithmesHeader,
.popupAjouterVilleHeader {
  height: 40px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #102c57;
}

.menuGestionHeaderText,
.menuStatistiquesHeaderText,
.menuAlgorithmesHeaderText,
.popupAjouterVilleHeaderText {
  font-size: 26px;
  font-weight: bold;
  color: #102c57;
  user-select: none;
}

.menuGestionHeaderIcon,
.menuStatistiquesHeaderIcon,
.menuAlgorithmesHeaderIcon {
  margin-left: auto;
  width: 30px;
  height: 30px;
  user-select: none;
}

.popupAjouterVilleHeaderIcon {
    width: 30px;
    height: 30px;
    user-select: none;
    margin-left: 10px;
}

.popupAjouterVilleHeaderIconRandom {
    margin-left: auto;
    width: 30px;
    height: 30px;
    user-select: none;
}

.popupAjouterVilleHeaderIcon:hover, .popupAjouterVilleHeaderIconRandom:hover {
  cursor: pointer;
  background-color: #2639556e;
  border-radius: 20px;
}

.menuGestionHeaderIcon:hover,
.menuStatistiquesHeaderIcon:hover,
.menuAlgorithmesHeaderIcon:hover {
  cursor: pointer;
}

.menuGestionAjouter, .menuGestionDistance, .menuGestionNbCamion, .menuGestionTemps {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  background-color: #102c57;
  color: #fefaf6;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  height: 40px;
}

.menuGestionDistance, .menuGestionNbCamion, .menuGestionTemps {
  display: none;
}

.menuGestionAjouter.active {
  margin: 20px 10px 0px 10px;
  display: flex;
  align-items: center;
  background-color: #102c57;
  color: #fefaf6;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px 16px 0px 0px;
  height: 40px;
  border-bottom: 2px solid #fefaf6;
}

.menuGestionAjouterListeVille.active {
  margin: 0px 10px;
  display: flex;
  background-color: #102c57;
  color: #fefaf6;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px 0px 16px 16px;
  height: 95px;
}

.menuGestionAjouterListeVilleText.active {
  margin: 10px 10px;
  user-select: none;
  display: table;
  word-break: break-word;
}

.menuGestionAjouter.active:hover {
    cursor: default;
    background-color: #102c57;
}

.menuGestionAjouterText, .menuGestionDistanceText, .menuGestionNbCamionText, .menuGestionTempsText {
  margin-left: 10px;
  user-select: none;
}

.menuGestionTempsValue, .menuGestionDistanceValue, .menuGestionNbCamionValue {
  margin-left: auto;
  margin-right: 15px;
  user-select: none;
}

.menuGestionAjouterIconPlus {
    width: 24px;
    height: 24px;
    user-select: none;
    margin-left: auto;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.menuGestionAjouterIconPlus.active {
    width: 24px;
    height: 24px;
    user-select: none;
    margin-right: 10px;
    transition: transform 0.3s ease;
    margin-left: 0;
}

.menuGestionAjouterIconPlus:hover {
    cursor: pointer;
  }

.menuGestionAjouterIconDelete {
  width: 24px;
  height: 24px;
  user-select: none;
  margin-left: auto;
  margin-right: 10px;
  display: none;
}

.menuGestionAjouterIconDelete:hover {
  cursor: pointer;
}

.menuGestionAjouterIconDelete.active {
  display: block;
}

.menuGestionAjouterIconPlus:hover {
  transform: rotate(45deg);
}

/* Menu Close */
.menuClose {
  position: absolute;
  top: 80px;
  left: 50px;
  background-color: #fefaf6;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.menuCloseIcon {
  width: 30px;
  height: 30px;
  user-select: none;
}

.menuCloseIcon:hover {
  cursor: pointer;
}

/* Popup Ajouter villes */

.popupAjouterVille {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background-color: #fefaf6;
  border-radius: 20px;
  display: none;
}

.popupAjouterVilleForm {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
}

.popupAjouterVilleFormInput {
  background-color: #fefaf6;
  border: 1px solid #102c57;
  border-radius: 12px;
  height: 30px;
  padding: 0px 10px;
}

.popupAjouterVilleFormSuggestion {
    width: auto;
    height: auto;
    background-color: #fefaf6;
    border: 1px solid #102c57;
    border-radius: 12px;
    padding: 0px 10px;
    display: none;
}

.popupAjouterVilleFormList {
  margin-top: 10px;
  width: 100%;
  max-height: 200px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  color: #102c57;
  font-weight: bold;
}

.popupAjouterVilleBoutonContainer, .menuGestionBoutonContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  margin: 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.popupAjouterVilleBoutonAjouter, .menuGestionBoutonLancer {
  background-color: #102c57;
  border: none;
  color: #fefaf6;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  height: 40px;
  width: 120px;
}

.menuGestionBoutonLancer {
    width: 200px;
}

.popupAjouterVilleBoutonAnnuler {
  background-color: #fefaf6;
  border: 1px solid #102c57;
  color: #102c57;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  height: 40px;
  width: 120px;
  margin-right: 20px;
}

.popupAjouterVilleBoutonAjouter:hover,
.popupAjouterVilleBoutonAnnuler:hover, 
.menuGestionBoutonLancer:hover {
  cursor: pointer;
}

.popupAjouterVilleBoutonAjouter:hover,
.menuGestionBoutonLancer:hover {
  background-color: #263955;
}

.popupAjouterVilleBoutonAnnuler:hover {
  background-color: #2639556e;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 5px);
  background-color: #0000006e;
  display: none;
}

/* Loader */
.loaderContainer {
    width: 100%;
    height: calc(100vh - 65px);
    background-color: #0000006e;
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }