html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}

/* NavBar */
.navbar {
    width: 100%;
    height: 70px;
    background-color: #EADBC8;
    display: flex;
    align-items: center;
}

.logo {
    width: 90px;
    height: 70px;
    margin: 0 auto;
    display: block;
}

.menuContainer {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    flex-grow: 1;
}

.menu {
    display: flex;
    margin-left: auto;
    user-select: none;
}

.menuElement {
    
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    color: #FEFAF6;
    font-size: 20px;
    user-select: none;
}

.menuElementContainer {
    padding: 5px 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuElementContainer:hover, .menuElementContainer.active {
    background-color: #FEFAF6;
    cursor: pointer;
    border-radius: 30px;
}

.menuElementContainer:hover .menuElement, .menuElementContainer.active .menuElement {
    color: #102C57;
}

.profilContainer {
    display: flex;
    margin-right: 20px;
}

.profil {
    width: 45px;
    height: 45px;
    margin-left: auto;
    display: block;
    border-radius: 50px;
}

/* Map */
.map {
    width: 100%;
    height: calc(100vh - 65px);
}


/* Menu Gestion */
.menuGestion, .menuStatistiques, .menuAlgorithmes {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 400px;
    height: calc(100vh - 85px);
    background-color: #FEFAF6;
    border-radius: 20px;
    display: none;
}

.menuGestionHeader, .menuStatistiquesHeader, .menuAlgorithmesHeader {
    height: 40px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #102C57;
}

.menuGestionHeaderText, .menuStatistiquesHeaderText, .menuAlgorithmesHeaderText {
    font-size: 26px;
    font-weight: bold;
    color: #102C57;
    user-select: none;
}

.menuGestionHeaderIcon, .menuStatistiquesHeaderIcon, .menuAlgorithmesHeaderIcon {
    margin-left: auto;
    width: 30px;
    height: 30px;
    user-select: none;
}

.menuGestionHeaderIcon:hover, .menuStatistiquesHeaderIcon:hover, .menuAlgorithmesHeaderIcon:hover {
    cursor: pointer;
}

/* Menu Close */
.menuClose{
    position: absolute;
    top: 80px;
    left: 50px;
    background-color: #FEFAF6;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.menuCloseIcon {
    width: 30px;
    height: 30px;
    user-select: none;
}

.menuCloseIcon:hover {
    cursor: pointer;
}
